

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 350px;
}

.container {
    padding: 10px 20px;
    text-align: left;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.Trang_Chu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.tac_gia{
    display: flex;
    justify-content: space-evenly;
}